<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <p>Name of Connector: {{input valueBinding='name' cols="30"}}</p>
      <button class="btn" {{action 'create'}}>Create</button>
      <button class="btn" {{action 'cancel'}}>Cancel</button>
    </div>
  </div>
</div>
