<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">InCharge</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li> {{#link-to 'users'}}Users{{/link-to}} </li>
      <li> {{#link-to 'vehicles'}}Vehicles{{/link-to}} </li>
      <li> {{#link-to 'charge-points'}}Charge Points{{/link-to}} </li>
      <li> {{#link-to 'trades'}}Transactions{{/link-to}} </li>
      <li> {{#link-to 'connector'}}Connector{{/link-to}} </li>
      <li> {{#link-to 'about'}}About{{/link-to}} </li>
      <li> {{#link-to 'simulator'}}Simulator{{/link-to}} </li>
    </ul>
    </div>
  </div>
</nav>

<div class="main">
  {{outlet}}
</div>
