<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Incharge</a>
    </div>
    <ul class="nav navbar-nav">
      <li> {{#link-to 'users'}}Users{{/link-to}} </li>
      <li> {{#link-to 'vehicles'}}Vehicles{{/link-to}} </li>
      <li> {{#link-to 'charge-points'}}Charge Points{{/link-to}} </li>
      <li> {{#link-to 'trades'}}Trades{{/link-to}} </li>
      <li> {{#link-to 'about'}}About{{/link-to}} </li>
      <li> {{#link-to 'posts'}}Blog{{/link-to}} </li>
      <!-- <li class="dropdown">
        <a class="dropdown" data-toggle="dropdown" href="#">Things</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a>Clothing(empty)</a>
          </li>
          <li><a href="">Photos(empty)</a>
          </li>
          <li><a href="">Books(empty)</a>
          </li>
        </ul>
      </li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#">
          <button name="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-star"></span>
          </button>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="main">
  {{outlet}}
</div>
