<div class="jumbotron">
  <h3>Welcome to InCharge Server</h3>
  <p>This is a server for Project InCharge, and the APIs are based on Open Charge Point Protocol.<p>
  <p><a class="btn btn-primary btn-lg" role="button" href="http://www.incharge.ei.tum.de/">Learn more about InCharge</a></p>
</div>
