<div class="jumbotron">
  <h3>Welcome to InCharge Server</h3>
  <p>This is a server of InCharge Project<p>
  <p><a class="btn btn-primary btn-lg" role="button" href="http://www.incharge.ei.tum.de/">Learn more</a></p>
</div>
