body, html {
	margin:20px;
}

ember.text-field, .ember-text-area {
	width: 100%;
}

.active {
	font-weight: bold;
}

.navbar {
}

.main {
	padding-top: 25px;
}

.box {
	border: 1px solid;
}

.time {
	font-size: 12px;
	color: #bbb;
}

img {
	max-width: 100%;
}
