<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      {{partial 'user/edit'}}
      <button class="btn btn-primary btn-sm" {{action 'create'}}>Create</button>
      <button class="btn btn-primary btn-sm" {{action 'cancel'}}>Cancel</button>
    </div>
  </div>
</div>
